server:
  port: 8082

spring:
  application:
    name: notification-service
  
  # Configuration Kafka
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.value.default.type: net.elbakay.notification.dto.TaskEvent

  # Configuration Email (Gmail)
  mail:
    host: smtp.gmail.com
    port: 587
    username: saida.elajimi@etu.fstm.ac.ma
    password: ezjcqejhbfydhdvd
    properties:
      mail:
        smtp:
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          starttls:
            enable: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
